body {
    background-color: #f2cc78;
}
.modf {
    width: 100px;
    margin: 20px;
}
.titre {
    display: flex;
}
#espace {
    margin-left: 300px;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 50px;
    font-family: "Itim", cursive;
}

.grisclair {
    background-color: #36393f;
    width: fit-content;
    font-size: 20px;
    font-weight: center;
    border-radius: 60px;
    height: fit-content;
    margin-left: 10px;
    font-family: "Itim", cursive;
}

p {
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: "Itim", cursive;
}
.aranger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.nomprenom {
    display: flex;
}

input {
    box-sizing: border-box;
    font-size: 15px;
    color: #b9bbbe;
    background-color: #202225;
    border: none;
    height: 40px;
    margin-bottom: 22px;
    display: flex;
    justify-items: center;
    text-align: center;
    border-radius: 60px;
    font-family: "Itim", cursive;
}

.reste {
    display: contents;
    justify-content: center;
    font-family: "Itim", cursive;
}

.bleu {
    display: flex;
    justify-self: center;
    color: black;
    background-color: #f2cc78;
    font-weight: bolder;
    width: fit-content;
    border-radius: 60px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.deuxgris {
    display: flex;
    justify-content: end;
}

h3 {
    width: 200px;
    font-size: 12px;
    color: #b9bbbe;
    text-align: center;
    font-family: "Itim", cursive;
}

.cnx {
    display: grid;
    justify-content: center;
}
.form {
    width: fit-content;
    font-family: "Itim", cursive;
}

/* debut animmation */

/* fin annimation */
