body {
    background-image: url("../images/body.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    width: 200px;
}

.modf {
    width: 100px;
    margin: 20px;
}
.titre {
    display: flex;
    justify-content: end;
}

#espace {
    width: min-content;
    font-weight: bolder;
    font-size: 40px;
    height: min-content;
    font-family: "Itim", cursive;
    margin: 0;
}
.grisclair:hover {
    opacity: 0.6;
}
.grisclair {
    opacity: 0.13;
    width: fit-content;
    font-size: 30px;
    font-weight: center;
    border-radius: 30px;
    height: fit-content;
    font-family: "Itim", cursive;
    background-color: #6b5221;
}

p {
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: "Itim", cursive;
    font-weight: bolder;
    font-size: 50px;
}
.aranger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.nomprenom {
    display: flex;
    justify-content: space-around;
}

.grisclair:hover {
    opacity: 0.8;
}
input {
    box-sizing: border-box;
    font-size: 25px;
    color: #6b5221;
    background-color: white;
    border: none;
    height: 40px;
    margin-bottom: 22px;
    display: flex;
    justify-items: center;
    text-align: center;
    border-radius: 60px;
    font-family: "Itim", cursive;
    margin: 10px auto;
}

.reste {
    display: contents;
    justify-content: center;
    font-family: "Itim", cursive;
}

.bleu {
    display: flex;
    justify-self: center;
    color: black;
    opacity: 0.7;
    background-color: #535c66;
    font-weight: bolder;
    width: fit-content;
    border-radius: 60px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.deuxgris {
    display: flex;
    justify-content: start;
}

h3 {
    width: 200px;
    font-size: 25px;
    color: #b9bbbe;
    text-align: center;
    font-family: "Itim", cursive;
    margin: auto;
}

.cnx {
    display: grid;
    justify-content: center;
}
.form {
    width: 85%;
    font-family: "Itim", cursive;
}

/* debut animmation */

/* fin annimation */
* {
    margin: 0;
}

h2 {
    font-family: "Itim", cursive;
    /* background: linear-gradient(
        81.84deg,
        #0099ff -9.4%,
        #a033ff 51.57%,
        #ff5280 84.07%,
        #ff7061 90.59%
    );
    color: transparent;
    background-clip: text; */
}
