body {
    font-family: "Itim", cursive;
    background-color: #36393f;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.logoG {
    width: 100px;
    border-radius: 50px;
}
.msgpub {
    display: flex;
    justify-content: space-between;
}
.max {
    width: 50px;
    border-radius: 50px;
}
.nav {
    display: block;
    background-color: #f2cc78;
    border-radius: 20px;
}
.pointier {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    margin-left: 10px;
}
.public {
    margin-left: 40px;
    font-size: 50px;
}
.ariere {
    font-family: "Itim", cursive;
    background-color: #d9d9d9;
    width: 100px;
    border-radius: 100px;
    height: 100px;
}
.logo {
    margin-top: 50px;
    width: 80px;
    border-radius: 80px;
    height: 80px;
}
#deconnexion:hover {
    color: red;
}
.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #202225;
    max-height: 100%;
    width: fit-content;
    border-radius: 20px;
    height: 100vh;
}
.titre {
    width: 100%;
    font-family: "Itim", cursive;
    font-size: 40px;
    text-align: center;
    color: white;
}

.liste {
    display: flex;
}

.listes {
    display: block;
}
.amis {
    font-weight: bolder;
    font-family: "Itim", cursive;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    height: 80px;
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 50px;
}

.image {
    width: 50px;
    border-radius: 50px;
}

.discution {
    background-color: #d9d9d9;
    border-radius: 30px;
    height: fit-content;
    display: inline-flex;
    margin-bottom: 30px;
    width: fit-content;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
    font-family: "Itim", cursive;
    margin: 0;
}
.nomdis {
    font-size: 10px;
    margin: 0 auto;
}
.heurnom {
    display: flex;
    justify-content: space-between;
}
.heur {
    margin: 0 auto;
}

.mod {
    margin-left: 20px;
}

.gris {
    text-align: start;
}
.bleu {
    display: flex;
    justify-self: center;
    color: black;
    background-color: #f2cc78;
    font-weight: bolder;
    width: 200px;
    border-radius: 60px;
    text-align: center;
}
input {
    font-size: 30px;
    color: #787878;
    background-color: #d9d9d9;
    border: none;
    height: 40px;
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 60px;
    font-family: "Itim", cursive;
    width: 500px;
}
.form {
    display: flex;
}

img {
    border-radius: 30px;
}

.entremsg {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.align {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 70vh;
    border: 1px solid black;
    overflow-y: scroll;
    padding-top: 20px;
}

button {
    font-family: "Itim", cursive;
    color: black;
    background-color: #f2cc78;
    font-weight: bolder;
    width: 150px;
    height: 150px;
    border-radius: 60px;
    font-size: 20px;
}

.recherches {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
}

.plusinfo {
    margin-top: 50px;
}

.photos {
    margin-bottom: 50px;
}

.popup {
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 99999;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    background-color: #f2cc78;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.fadePopup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #22252e;
    opacity: 0.8;
    z-index: 9999;
}
.parametre {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/**/
.logoplusinfo {
    width: 100px;
    border-radius: 100px;
    height: 100px;
}

.pad {
    padding: 10px;
    height: 50px;
}

.fa-solid:hover {
    color: red;
}

.lst {
    padding-left: 60px;
    padding-top: 100px;
}

.cordones {
    margin: 0;
    margin-bottom: 20px;
}
.plog {
    padding-top: 50px;
}
.aligner {
    display: flex;
}
